	.ui-tabs .ui-tabs-nav, .ui-datepicker-header .ui-datepicker-title {
	   background-color: rgba(168, 178, 111, .30);
	}
	
	.ui-tabs .ui-tabs-nav a {
	   color: rgb(168, 178, 111);
	}
	
	#tabs {
		min-height: 320px;
		width: 650px;
		padding-right: 0px;
		margin-right: 0px;
	}
	
	#startday, #stopday, #fulldate {
	   width: 100px;
	}
	
	#allyears, #fullday {
		font-size: smaller;
	}
	
	.searchbtn {
		float: right;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	tr.filename {
		padding: 0;
	}
	
	tr.filename a:link {
		text-decoration: none;
		color: rgb(133, 142, 79);
	}
	
	tr.filename a:active {
		text-decoration: none;
		color: rgb(133, 142, 79);
	}
	
	tr.filename a:hover {
		text-decoration: none;
		color: rgb(0, 0, 167);
	}
	
	tr.filename a:visited {
		text-decoration: none;
		color: rgb(133, 142, 79);
	}
	
	tr.download a:link {
		text-decoration: none;
		color: rgb(133, 142, 79);
	}
	
	tr.download a:active {
		text-decoration: none;
		color: rgb(133, 142, 79);
	}
	
	tr.download a:hover {
		text-decoration: none;
		color: rgb(0, 0, 167);
	}
	
	tr.download a:visited {
		text-decoration: none;
		color: rgb(133, 142, 79);
	}
	
	tr.backtosearch a:link, #schema:link{
		text-decoration: underline;
		color: rgb(133, 142, 79);
	}
	
	tr.backtosearch a:active, #schema:active {
		text-decoration: underline;
		color: rgb(133, 142, 79);
	}
	
	tr.backtosearch a:hover, #schema:hover {
		text-decoration: underline;
		color: rgb(0, 0, 167);
	}

	tr.backtosearch a:visited, #schema:visited {
		text-decoration: underline;
		color: rgb(133, 142, 79);
	}

	table.form-table td {
		vertical-align: text-bottom;
		padding: 5px 10px;
	}
	
	ul {
		list-style-type: none;
	}
	
	select.multiselect option, div.ui-multiselect-menu, li label.ui-corner-all {
		width: 220px !important;
	}
	
	select.singleselect option, button.radio {
		width: 110px !important;
	}
	
	.odd {
		background: rgba(168, 178, 111, .5);
	}
	
	#searchrs {
		margin-right: 300px;
	}